:root{
    --cell-bg-color: rgb(10, 10, 11);
    --modal-bg-color: green;
}

.heading-section{
    text-align: center;
}

.table{
    margin: auto;
    display: table;
}
th, td {
    border: 3px solid #868595;
    border-radius: 4px;
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: var(--cell-bg-color);
    /* background-color: #f0f0f0; */
}

.cell{
    background-color: whitesmoke;
    color: black;
    padding: auto;
}
.hidden{
    background-color: var(--cell-bg-color);
}
.marked{
    background-color: var(--cell-bg-color);
}
.modal{
    margin-top: 60px;
    padding: auto;
    display: none;
    border: none;
    width: 50vw;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--modal-bg-color);
}

.modal .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
}
footer{
    background-color: green;
    text-align: center;
    font-size: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}