:root{
    --cell-bg-color: rgb(10, 10, 11);
}

.table{
    margin: auto;
    display: table;
}
th, td {
    border: 3px solid #868595;
    border-radius: 4px;
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: var(--cell-bg-color);
    /* background-color: #f0f0f0; */
}

.hidden{
    background-color: var(--cell-bg-color);
}
.cell{
    color: white;
    padding: 20px;
}
.marked{
    background-color: var(--cell-bg-color);
}